html, body {
    margin:0px;
    height:100%;
  }

.photo{
    background-image: url("trent-reznor.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    height: 100%;
}

.top-left img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.top-left{
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.bottom-centered {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: flex-end;
    order: 0;
    background-color: white;
    padding: 20px;
    opacity: .5;
    margin: 20px;
}

.news-title{
    font-weight: 900;
    font-size: 4em;
    color: rgba(0, 0, 0, 1);
}

.news-resume{
    font-size: 2.2em;
    color: rgba(0, 0, 0, .8);
}